<!DOCTYPE html>
<html>
<head>
  <title>AAndMPoker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if !@user.nil? %>
		<div style="border-bottom: thin solid black; margin-bottom: 1em;">
			Welcome <%= @user.user_name %>, you currently have <%= @user.user_wallet_cents %> available to play with. <%= link_to("Logout", :controller => :matches, :action => :logout) %>
		</div>
	<% end %>

<%= yield %>

</body>
</html>
